* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: linear-gradient(
	to bottom,
	rgba(109, 132, 199, 0.5),
	rgba(109, 132, 199, 0)
    );
    border-top: 3px solid #546bff;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background: linear-gradient(
	to bottom,
	rgba(60, 71, 143, 1),
	rgba(60, 71, 143, 0)
    );
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

tooltip {
    background: linear-gradient(
        to bottom,
        rgba(56, 72, 171, 0.9),
        rgba(56, 72, 171, 0.5)
    );
    border: None;
    border-radius: 0;
    box-shadow: inset 0 3px #546bff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#battery {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background: linear-gradient(
	to bottom,
	rgba(85, 171, 56, 1),
	rgba(85, 171, 56, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

@keyframes blink {
    to {
        background: linear-gradient(
	    to bottom,
	    rgba(201, 201, 201, 1),
	    rgba(201, 201, 201, 0)
        );
        box-shadow: inset 0 3px #546bff;    
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background: linear-gradient(
	to bottom,
	rgba(171, 62, 56, 1),
	rgba(171, 62, 56, 0)
    );
    box-shadow: inset 0 3px #546bff;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#network.disconnected {
    background: linear-gradient(
	to bottom,
	rgba(171, 62, 56, 1),
	rgba(171, 62, 56, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#pulseaudio {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;   
    color: #ffffff;
}

#pulseaudio.muted {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
    color: #ffffff;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#temperature.critical {
    background: linear-gradient(
	to bottom,
	rgba(171, 62, 56, 1),
	rgba(171, 62, 56, 0)
    );
    box-shadow: inset 0 3px #546bff;    
}

#tray {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background: linear-gradient(
	to bottom,
	rgba(76, 91, 135, 1),
	rgba(76, 91, 135, 0.2)
    );
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: linear-gradient(
	to bottom,
	rgba(56, 72, 171, 1),
	rgba(56, 72, 171, 0)
    );
    box-shadow: inset 0 3px #546bff;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
